<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Hazlo : Avance de {{.}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/css/vendor/bootstrap.css" rel="stylesheet">
  <link href="/css/vendor/flat-ui.css" rel="stylesheet">
  <link href="/css/report_form.css" rel="stylesheet">
  <link href="/css/demo.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div class="container">

  <h2>Avance de {{.}}</h2>
  <div class="login">
    <div class="login-screen">
      <div class="login-icon">
        <h3>Hazlo</h3>
      </div>
      <div class="login-form">
        <div class="form-group">
          <input type="hidden" value="{{.}}" id="user_id">
          Meta: <input type="text" class="form-control login-field" value="" id="goal">
        </div>

        <div class="form-group">
          Avance: <input type="text" class="form-control login-field" value="" id="status">
        </div>

        <a id="save" class="btn btn-primary btn-lg btn-block" href="#">Guardar</a>
      </div>
    </div>
  </div>
  </div>
</div>
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
  $( document  ).ready(function() {
      $('#save').on('click', function(event) {
        event.preventDefault();

        user_id = $('#user_id').val();
        goal    = $('#goal').val();
        status  = $('#status').val();
        url     = '/users/' + user_id + '/step';
        form    = {goal: goal, status: status};

        $.post( url, form );
      });
  });
</script>
</body>
</html>

